*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

*.db
core
core-cli
server.crt
server.key
private_key.pem
public_key.pem

pkg/httpsling/testdata/*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

*.log

.vscode

.DS_Store*
.AppleDouble
.LSOverride
ehthumbs.db
Icon?
Thumbs.db

.scannerwork/**
results.txt

*.mime
*.mim

.task